table {
  border-collapse: collapse;
  font-family: sans-serif;
}

th, td {
  border: 1px solid black;
  padding: 5px 10px;
  text-align: center;
}

th {
  background-color: #CCCCCC; /* siva */
  font-weight: bold;
}

td {
  background-color: #FFF2CC; /* žućkasta */
}
