table {
  border-collapse: collapse;
  font-family: sans-serif;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid black;
  padding: 5px 10px;
  text-align: center;
}

th {
  background-color: #CCCCCC;
  font-weight: bold;
}

td {
  background-color: #FFF2CC;
}

/* svaki PARAN red ima bijelu pozadinu */
tr:nth-child(even) td {
  background-color: white;
}
